
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../img/download.jfif);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container {
    text-align: center;
    background-color: rgba(255, 235, 205, 0.306);
    padding: 10px;
    border-radius: 8px;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  input[type="text"],
  button {
    margin: 10px;
    padding: 5px;
  }
  
  button {
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-top: 10px;
  }
  
  p {
    font-size: 15px;
  }
  